@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

:root {
  --sidebar-width: 70px;
  --sidebar-width-show: 220px;
}

body {
  @apply bg-primary relative overflow-x-hidden;
}

.header {
  width: 100%;
  position: block;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: calc(var(--sidebar-width));
  transition: 0.3s;
}

.sidebar {
  @apply hidden md:block fixed top-0 bg-white transition-all;
  overflow-y: scroll;
  left: 0;
  height: 100vh;
  width: var(--sidebar-width);
  transition: 0.3s;
  z-index: 99;
}

.sidebar-show {
  display: block;
  width: var(--sidebar-width-show);
}

.main {
  padding-left: var(--sidebar-width);
  @apply duration-300 mb-10;
}

.show {
  padding-left: var(--sidebar-width-show);
}

.active {
  @apply bg-black rounded-l-md;
}

.sidebar-list {
  @apply overflow-hidden mt-8;
}

.sidebar:hover {
  width: var(--sidebar-width-show);
}
.sidebar:hover .sidebar-name {
  @apply block;
}

.sidebar-link.active .sidebar-name {
  @apply text-white;
}

.sidebar-link {
  height: 45px;
  @apply relative grid grid-cols-3 gap-x-5 py-3 ml-1 px-2 align-middle;
  left: 10px;
}
.sidebar-link:not(.dropdown) {
  @apply mb-4;
}

.sidebar-link.active i {
  color: white;
}

.sidebar-link i:not(.arrow) {
  font-size: 20px;
}

.sidebar-link i.arrow {
  @apply pt-1 pl-4 transition-all duration-300;
}

.sidebar-link:not(.sidebar-name-show) i.arrow {
  display: none;
}

.sidebar:hover i.arrow {
  @apply block;
}

i.arrow-active {
  transform: rotateX(180deg);
}

.sidebar-link:not(.active):hover .sidebar-name {
  @apply text-indigo-700;
}

.sidebar-name {
  @apply hidden capitalize -ml-8;
  white-space: nowrap;
}

.sidebar-name-show {
  padding-top: 1px;
  display: block;
  @apply text-black duration-300;
}

.dropdown-container {
  @apply hidden relative mt-5  grid grid-cols-1 gap-3 rounded-l-md transition-all duration-300;
  left: 10px;
}

.dropdown-container a {
  height: 40px;
}

.dropdown-container i {
  font-size: 20px;
  color: black;
}

.dropdown-link {
  @apply my-3 transition-all duration-300;
}

.sidebar:hover .dropdown-link {
  @apply flex;
}

.header-user {
  @apply transition-all duration-500;
  display: none;
}

.header-user-show {
  display: block;
}

#table tr td,
#table th {
  @apply border-b-2 py-3 px-3;
}

#myChart {
  height: 100px;
}

.form-group {
  @apply my-5 text-sm;
}

.form-group label {
  @apply block;
}

.form-group input.form-control {
  @apply rounded-sm px-4 py-3 mt-3 focus:outline-none bg-gray-100 w-full;
}

ul.breadcumb {
  @apply mx-5;
}

ul.breadcumb li:not(:last-child) {
  @apply px-2 text-indigo-600;
}

ul.breadcumb li:nth-last-child(2n) {
  @apply text-gray-300;
}

ul.breadcumb:last-child {
  @apply text-gray-600;
}

@media screen and (max-width: 768px) {
  .header,
  .main {
    padding-left: 0;
  }

  .header {
    padding-right: 20px;
  }

  .show {
    padding-left: 230px;
  }

  #myChart {
    height: 130px;
  }

  .show {
    padding-left: 0;
  }

  .header.show {
    padding-left: var(--sidebar-width-show);
  }
}
